* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #BFCAD6;
    color: #191919;
}

body {
    text-align: center;
    margin: 200px;
}

#mode {
    display: block;
    text-align: right;
    margin: 5px;
}

.fa-eye-slash, .fa-eye {
    color: #191919;
    transition: all ease 0.2s;
}

.fa-eye-slash:hover, .fa-eye:hover {
    color: #6c5f5bdd;
}

.task-title {
    color: #6C5F5B;
}

.task-manager {
    box-shadow: 0px 2px 4px 0px #6c5f5b85;
    border-radius: 4px;
    display: inline-block;
    width: 400px;
    text-align: center;
    color: #191919;
}

#new-task {
    margin-top: 10px;
    margin-bottom: 20px;
    outline: transparent;
    border-radius: 5px;
    border: 1px #6c5f5b7e solid;
    padding: 0 5px;
    height: 35px;
    width: 80%;
    font-size: medium;
}

#new-task:hover {
    border: 1px #6c5f5bc8 solid;
}

#new-task:focus::placeholder {
    color: transparent;
}

.task-list {
    list-style: square;
    text-align: left;
}

.task {
    margin: 0 10%;
    margin-bottom: 20px;
    font-size: medium;
    list-style: none;
    box-sizing: border-box;
    transition: all ease 0.2s;
}

@keyframes height {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes width {
    0% {
        width: 100%;
    }
    100% {
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }
}

.divTask {
    display: flex;
    align-items: baseline;
}

.divTask input {
    accent-color: #c0f2b0;
    cursor: pointer;
}

.divTask input:disabled, .divTask input:disabled + .divInfo, .divTask input:disabled + .divInfo p {
    cursor: initial;
}

.divInfo {
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 4px;
    flex: 3;
}

.divInfo label {
    cursor: pointer;
    word-break: break-word;
    text-wrap: balance;
    transition: all ease 0.3s;
}

.divInfo-completed label {
    color: #6c5f5ba2;
}

.divInfo:hover label {
    color: #1919199a;
}

.divInfo-completed:hover, .divInfo-completed:hover label {
    text-decoration: none;
    cursor: initial;
}

.divInfo label:focus {
    color: #191919;
    border: none;
    outline: none;
}

.div_3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #6c5f5b7a solid;

}

.div_3 p {
    color: #6c5f5ba2;
    font-size: x-small;
    cursor: initial;
    align-self: center;
}

.div_3 span {
    position: relative;
    bottom: 12px;
    right: 5px;
    align-self: baseline;
}

.fa-trash-can {
    cursor: pointer;
    transition: all ease 0.2s;
}

.fa-trash-can:hover {
    color: #1919199a;
}

.fa-trash-can-arrow-up {
    cursor: pointer;
    color: #6c5f5b7c;
    transition: all ease 0.2s;
}

.fa-trash-can-arrow-up:hover {
    color: #191919;
}

.btn {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    background-color: #BFCAD6;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #191919;
    cursor: pointer;
    transition: all ease 0.3s;
}

.btn:hover {
    background-color: #bfcad6ca;
}