* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: 200px;
}

span {
    display: block;
    text-align: right;
    margin-top: 5px;
}

span i {
    margin-right: 10px;
}

.task-title {
    color: #6C5F5B;
}

.task-manager {
    box-shadow: 0px 2px 4px 0px #6c5f5b85;
    border-radius: 4px;
    display: inline-block;
    width: 350px;
    text-align: center;
    color: #6C5F5B;
}

#new-task {
    margin-top: 10px;
    margin-bottom: 20px;
    outline: transparent;
    border-radius: 5px;
    border: 1px #6c5f5b7e solid;
    padding: 0 5px;
    height: 35px;
    width: 80%;
    font-size: small;
}

#new-task:hover {
    border: 1px #6c5f5bc8 solid;
}

#new-task:focus::placeholder {
    color: transparent;
}

.task-list {
    list-style: square;
    text-align: left;
}

.task {
    text-transform: capitalize;
    margin: 0 10%;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: medium;
}

@keyframes height {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes width {
    0% {
        width: 100%;
    }
    100% {
        white-space: nowrap;
        width: 0;
    }
}

.divTask {
    display: flex;
}

.divTask input {
    accent-color: #c0f2b0;
    cursor: pointer;
}

.divInfo {
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 4px;
    flex: 3;
    cursor: pointer;
}

.divInfo label {
    cursor: pointer;
}

.divInfo:hover label {
    color: #6c5f5ba2;
    text-decoration: line-through;
}

.divInfo p {
    color: #6c5f5ba2;
    border-bottom: 1px #6c5f5b7a solid;
    font-size: x-small;
    cursor: pointer;
}

.btn {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    background-color: #BFCAD6;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #1f1717ee;
    cursor: pointer;
}

.btn:hover {
    background-color: #bfcad6ec;
    color: black;
}